<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAweRMflSsGvqYXYliSnqpuO0mZJonuXhA</string>
	<key>GCM_SENDER_ID</key>
	<string>153950983482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gwc.MortgageCalculator.team7</string>
	<key>PROJECT_ID</key>
	<string>mortgage-magic-418e5</string>
	<key>STORAGE_BUCKET</key>
	<string>mortgage-magic-418e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153950983482:ios:5a83381791031ef70eec03</string>
</dict>
</plist>